.root {
    width: 100%;
}

.header {
    flex: 1;
    max-width: none;
}

.homeButton {
    /* position: absolute;
    left: 0; */
}

.adminButton {
    /* position: absolute;
    right: 0; */
}

.walletButton {
}

.empty {
    flex: 1;
    max-width: 'none';
}
